
*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

 
html,
body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

html {
    font-size: 90%;
}


/* Nav Section Starts here */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    position: fixed;
    z-index: 99;
    width: 100%;
    
  }

  .nav .logo{
    z-index: 999;
  }

  .nav .logo img{
    width: 40px;
  }
  
  .nav-toggle {
    display: none;
    cursor: pointer;
    z-index: 100;
  }
  
  .nav-toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
  }
  
  .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-menu li {
    align-self: center;
    
  }
  
  .nav-menu a {
    text-decoration: none;
    padding: 0 1rem;
    color: #1b1b1b;
  }

  .nav-menu a:hover{
    color: #0b27ff;
    transition: ease-in .2s;
  }
  
  @media (max-width: 768px) {
    .nav-toggle {
      display: block;
    }
    
    .nav-menu {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      right: 0;
    }
    
    .nav-menu li {
      font-size: 50px;
      margin-bottom: 25%;
    }
    
    .nav-menu a {
      display: block;
      font-family: "Jaro", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    
    .nav-menu.active {
      overflow: hidden;
      display: grid;
      text-align: center;
      justify-content: center;
      background-color: #ffffff;
      top: 0px;
      align-content: center;
    }
  }
  
  
.posters{
    width: 100%;
    padding: 5.5em 2em;
    position: relative;
}


/* body section starts here */

.heading h1{
    padding: 20px;
    margin-top: 10px;
    font-size: 100px;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.heading h3{
    left: 32px;
    position: relative;
}

.gallery{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 2rem;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
}

.gallery .box{
    height: 28rem;
    flex-grow: 1 2;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    display: inline-flex;
}

.gallery .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}


/* body section ends here */


/* logo section starts here*/

.posters .container{
    align-items: center;
    overflow: hidden;
}

.posters .container .card{
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

.container .card .content{
    display: flex;
    align-items: end;
    padding: 40px;
   
}

.container .card .content .details{
    margin-left: 30px;
    gap: 5px;
    display: grid;
}

.container .card .content p{
    padding: 0 50px;
    right: 0;
    position: absolute;
}

.posters .container .card img{
    width: 20%;
}

/* logo section ends here*/

/* footer section starts here*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

footer a{
    text-decoration: none;
    color: #1b1b1b;
    padding: 0 1em;
    font-weight: 400;
    font-style: normal;
}

footer .socials i{
    padding: 0 15px;
    font-size: 20px;
}

footer .socials i:hover{
    color: #0b27ff;
    transition: ease-in .25s;
    transform: scale(1.2);
}

/* media queries section starts here*/

/* footer section ends here*/

@media (max-width:700px){
    .heading h1{
        margin-top: 50px;
        font-size: 80px;
    }

    footer p{
        font-size: 10px;
    }

    footer a{
        padding: 0;
    }

}

@media (max-width:470px){
    .heading h1{
        margin-top: 20px;
        font-size: 60px;
    }

    .gallery .box{
        height: auto;
    }

    .container .card .content{
        padding: 18px;
    }

    .card .content .details h1{
        font-size: 18px;
    }

    .card .content .details h4 ,p{
        font-size: 12px;
    }

    .container .card .content{
        display: grid;
    }

    .container .card .content .details{
        margin: 10px 0;
    }

    footer a{
        padding: 0;
        font-size: 12px;
    }
    
    footer .socials i{
        padding: 0 8px;
        font-size: 10px;
    }
}

/* media queries section ends here*/